@import "lib/govuk-frontend/dist/govuk/base";

//Temporary alignment fix for the notification badge until the HMRC frontend library is updated to fix this
.hmrc-notification-badge {
  margin-left: 5px;
}

.no-border {
  border: none;
}

.not-bold {
  font-weight: normal;
}

@media screen and (max-width: 640px) {
  .govuk-tabs__panel {
    margin-top: 3em;
  }
}
