.govuk-main-wrapper {
  padding-top: 1em
}

.app-summary-card {
  border: 1px solid #b1b4b6;
  /* Card header */
  /* Card footer */
  /* Card body */
}
.app-summary-card .app-summary-card__header {
  align-items: center;
  background-color: #f3f2f1;
  padding: 15px;
}
@media (min-width: 48.0625em) {
  .app-summary-card .app-summary-card__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
.app-summary-card .app-summary-card__footer {
  align-items: center;
  background-color: #f3f2f1;
  padding: 15px;
}
@media (min-width: 48.0625em) {
  .app-summary-card .app-summary-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
.app-summary-card .app-summary-card__link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  white-space: nowrap;
}
@media print {
  .app-summary-card .app-summary-card__link {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__link {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .app-summary-card .app-summary-card__link {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.app-summary-card .app-summary-card__title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700 !important;
  margin: 0;
}
@media print {
  .app-summary-card .app-summary-card__title {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__title {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .app-summary-card .app-summary-card__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.app-summary-card .app-summary-card__meta {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  display: block;
  margin: 0;
}
@media print {
  .app-summary-card .app-summary-card__meta {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__meta {
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .app-summary-card .app-summary-card__meta {
    font-size: 14pt;
    line-height: 1.2;
  }
}
.app-summary-card .app-summary-card__actions {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}
@media print {
  .app-summary-card .app-summary-card__actions {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__actions {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .app-summary-card .app-summary-card__actions {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.app-summary-card .app-summary-card__actions-list {
  width: 100%;
  margin: 0;
  padding: 0;
}
.app-summary-card .app-summary-card__actions-list-item {
  display: block;
  white-space: normal;
  min-height: 24px;
}
@media (min-width: 48.0625em) {
  .app-summary-card .app-summary-card__actions-list-item {
    display: inline-block;
    margin-left: 10px;
    text-align: right;
  }
}
.app-summary-card .app-summary-card__actions-list-item:first-child {
  margin-left: 0;
}
.app-summary-card .app-summary-card__tag {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  width: 33%;
  margin: 0;
  padding: 0;
  display: block;
  white-space: nowrap;
}
@media print {
  .app-summary-card .app-summary-card__tag {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__tag {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .app-summary-card .app-summary-card__tag {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media (min-width: 48.0625em) {
  .app-summary-card .app-summary-card__tag {
    display: inline-block;
    margin-left: 10px;
    text-align: right;
  }
}
.penalty-due-tag {
  color: #ffffff;
  background-color: #d4351c;
}
.app-summary-card .app-summary-card__body {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  padding: 15px;
}
@media print {
  .app-summary-card .app-summary-card__body {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__body {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .app-summary-card .app-summary-card__body {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.app-summary-card .govuk-table,
.app-summary-card .govuk-summary-list,
.app-summary-card .govuk-table {
  margin-bottom: 0;
}
.app-summary-card .govuk-summary-list__row:last-child,
.app-summary-card .govuk-summary-list__row:last-child > *,
.app-summary-card .govuk-table__row:last-child .govuk-table__cell {
  border-bottom: 0;
}

@media print {
  .app-summary-card__header {
    break-inside: avoid;
  }
  .app-summary-card__actions {
    display: none;
  }
}

.hmrc-page-heading {
  display: table;
  width: 100%;
  padding-top: 8px;
  clear: both;
  table-layout: fixed;
}

.govuk-\!-margin-top-0 {
  margin-top: 0;
}

@media (min-width: 40.0625em) {
  p, .govuk-body, .govuk-body-m {
    margin-bottom: 20px;
  }
}

@media (min-width: 40.0625em) {
  p, .govuk-body, .govuk-body-m {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
  }
}

@media (min-width: 40.0625em) {
  .govuk-summary-list {
    margin-bottom: 30px;
  }
}

@media (min-width: 40.0625em) {
  .govuk-summary-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
}

@media (min-width: 40.0625em) {
  .govuk-summary-list {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

.govuk-summary-list {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #0b0c0c;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__row {
    display: table-row;
  }
}

.govuk-summary-list__row {
  border-bottom: 1px solid #b1b4b6;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__key {
    width: 30%;
  }
}

.govuk-summary-list__key {
  margin-bottom: 5px;
  font-weight: 700;
}

.govuk-summary-list__key, .govuk-summary-list__value {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
  margin: 0;
}

.govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
  padding-right: 0;
}

.govuk-summary-list__key, .govuk-summary-list__value {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@media (min-width: 40.0625em) {
  .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
  margin: 0;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__row {
    display: table-row;
  }
}

.govuk-summary-list__row {
  border-bottom: 1px solid #b1b4b6;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__key {
    width: 30%;
  }
}

.govuk-summary-list__key {
  margin-bottom: 5px;
  font-weight: 700;
}

.govuk-summary-list__key, .govuk-summary-list__value {
  overflow-wrap: break-word;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
  margin: 0;
}

.govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
  padding-right: 0;
}

.govuk-summary-list__key, .govuk-summary-list__value {
  overflow-wrap: break-word;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
  margin: 0;
}
