body > .govuk-width-container {
  max-width: min-content;
  min-width: 960px
}

main .govuk-pagination {
  display: flex;
  justify-content: center
}

th.govuk-table__header > span {
  display: flex;
  justify-content: space-between;
  white-space: nowrap
}

.table-header-controls {
    align-self: flex-end;
    padding-left: 1ex;
    background-color: white
}

.table-header-controls img {
    height: 1em;
    vertical-align: middle;
    padding: 2px;
    background-color: white;
    filter: invert(0)
}

th .govuk-form-group {
    margin-top: 10px;
    margin-bottom: 0px
}

.govuk-table__body td {
    white-space: nowrap;
}

.govuk-table__body th {
    white-space: nowrap;
}